html {
    background-color: antiquewhite;
  }
  
  body {
    text-align: center;
    font-size: 18px;
    margin-auto;
  }
  
  h1 {
    font-size: 50px;
  }
  
  img {
    height: 100%;
  }
  
  div {
    border: 2px solid burlywood;
    margin: 10px;
  }
  
  #introPic {
    float: left;
  }
  
  #bio {
    float: right;
  }
  #bio > li {
    padding: 2px;
  }
  
  #pro {
    width: auto;
  }

  #top {
    display:flex;
    justify-content: space-around;
    align-items: center;
  }

  @media (max-width: 376px) {
    #top {
      display:flex;
      flex-direction: column;
    }   

    div > p {
      padding:10px;
    }

    img {
      max-width:336px;
    }
  }